.app-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.chart-card {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 700px;
  padding: 10px; /* Reducir el padding */
  text-align: left;
  margin: 10px auto 0;
}

.chart-container {
  width: 100%; /* Ajustar el ancho del contenedor */
}

.chart-container canvas {
  width: 100% !important; /* Asegurarse de que el canvas ocupe todo el contenedor */
  height: 400px; /* Ajustar la altura del gráfico */
}
